* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

a {
  color: inherit;
}

h1 {
  font-size: 44px;
  font-weight: 400;
  color: white;
  line-height: 57px;
  letter-spacing: 0em;
  font-family: Georgia;
  text-align: left;
}

h2 {
  font-size: 35px;
  font-weight: 400;
  color: #545454;
  line-height: 45px;
  letter-spacing: 0.06em;
  font-family: Georgia;
  text-align: left;
}

h3 {
  font-size: 20px;
  font-weight: 400;
  color: #545454;
  line-height: 23px;
  letter-spacing: 0.06em;
  font-family: Georgia;
  text-align: left;
}

h4 {
  font-size: 20px;
  font-weight: 400;
  color: #545454;
  line-height: 23px;
  letter-spacing: 0.06em;
  font-family: Georgia;
  text-align: left;
}

h5 {
  font-size: 15px;
  font-weight: 400;
  color: #545454;
  line-height: 17px;
  letter-spacing: 0.06em;
  font-family: Georgia;
  text-align: left;
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 52px;
  width: 187px;
  border-radius: 100px;
  padding: 13px 40px;
  font-size: 17px;
  font-weight: 400;
  color: #292929;
  line-height: 22px;
  letter-spacing: 0.06em;
  font-family: Georgia;
  text-align: left;
  text-align: left;
}

.button-bordered {
  border: 2px solid #F1CDB3;
  background-color: white;
}

.button-bordered:hover {
  background-color: #F1CDB3;
  cursor: pointer;
}

.button-colored {
  background-color: #F1CDB3;
  border: none;
}

.button-colored:hover {
  background-color: #FDDCC4;
  cursor: pointer;
}

.button-arrow {
  font-size: 20px;
  font-family: Georgia;
  width: 50px;
  height: 52px;
  border-radius: 100px;
  margin: auto 0;
  color: #CDCDCD;
  border: 2px solid #CDCDCD;
  background-color: white;
}

.button-arrow:hover {
  background-color: #F1CDB3;
  color: #292929;
  cursor: pointer;
}

.page {
  cursor: not-allowed;
  pointer-events: none;
  color: #292929;
  border: 2px solid #F1CDB3;
  background-color: #F1CDB3;
}

.nav-active {
  color: #292929;
  border: 2px solid #F1CDB3;
}

.disabled {
  cursor: not-allowed;
  pointer-events: none;
}

.header__navigation {
  padding-bottom: 3px;
  -ms-flex-item-align: inherit;
      -ms-grid-row-align: inherit;
      align-self: inherit;
  font-size: 15px;
  font-weight: 400;
  color: #545454;
  line-height: 160%;
  letter-spacing: 0;
  font-family: Arial;
  text-align: left;
  text-decoration: none;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 36px;
}

.navigation__link {
  font-size: 15px;
  line-height: 24px;
  list-style: none;
  color: #CDCDCD;
}

.navigation__link:hover {
  color: #FAFAFA;
  cursor: pointer;
}

.navigation__link.active {
  border-bottom: 3px solid #F1CDB3;
}

a {
  color: inherit;
  text-decoration: none;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  font-size: 1.5rem;
  font-family: Arial, Helvetica, sans-serif;
  max-width: 1280px;
  margin: 0 auto;
}

.header {
  position: fixed;
  top: 0;
  width: 1280px;
  background-color: #FFFFFF;
}

.header__wrapper {
  height: auto;
  padding: 30px 40px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.logo {
  text-decoration: none;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo__title {
  font-size: 32px;
  font-weight: 400;
  color: #545454;
  line-height: 35px;
  letter-spacing: 0.06em;
  font-family: Georgia;
  text-align: left;
}

.logo__subtitle {
  font-size: 13px;
  font-weight: 400;
  color: #292929;
  line-height: 15px;
  letter-spacing: 0.1em;
  font-family: Arial;
  text-align: left;
}

.navigation__link {
  color: #545454;
}

.navigation__link:hover {
  color: #292929;
}

.navigation__link.active {
  -webkit-text-decoration-color: #F1CDB3 !important;
          text-decoration-color: #F1CDB3 !important;
}

.pets {
  padding-top: 120px;
}

.pets__content {
  background-color: #F6F6F6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 80px 40px 100px;
}

.pets__content .pets-title {
  font-size: 35px;
  font-weight: 400;
  color: #545454;
  line-height: 130%;
  letter-spacing: 0.06em;
  font-family: Georgia;
  text-align: left;
  text-align: center;
}

.pets__content .cards-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 3.9em 0 2em;
}

.pets_card {
  height: 435px;
  background-color: #FAFAFA;
  padding: 0 0 30px;
  margin-bottom: 30px;
  border-radius: 9px;
  overflow: hidden;
}

.pets_card .button {
  margin: 0 auto;
}

.pets_card .pet-name {
  margin: 31px auto 29px;
  text-align: center;
}

.pets_card:hover {
  -webkit-box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
          box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
  cursor: pointer;
}

.pets_card:hover .button {
  background-color: #F1CDB3;
}

.pets__navigation {
  width: 340px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer {
  background: url("../../assets/images/noise_transparent@2x.png"), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
  width: auto;
  padding: 40px 40px 0;
}

.footer .footer-wrapper {
  padding: 40px auto 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.footer .footer-wrapper .section-title {
  color: #FFFFFF;
  margin: 0;
}

.footer .footer-wrapper .contacts, .footer .footer-wrapper .address {
  height: 234px;
  font-size: 20px;
  font-weight: 400;
  color: #F1CDB3;
  line-height: 23px;
  letter-spacing: 0.06em;
  font-family: Georgia;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 60px;
}

.footer .footer-wrapper .contacts .link-ico, .footer .footer-wrapper .address .link-ico {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.footer .footer-wrapper .contacts .link-ico h4, .footer .footer-wrapper .address .link-ico h4 {
  color: #F1CDB3;
  margin: 0;
}
/*# sourceMappingURL=style.css.map */