@import 'sass/reset';
@import '../main/sass/abstract/constants';
@import '../main/sass/abstract/mixins';
@import '../main/sass/base/base';
@import 'sass/base/buttons';
@import '../../pages/main/sass/components/navigation';
@import '../../pages/main/sass/components/hamburger';

a {
  color: inherit;
  text-decoration: none;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  font-size: 1.5rem;
  font-family: Arial, Helvetica, sans-serif;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: rgba(41, 41, 41, 0.6);
  z-index: 0;
}

.overlay.hidden {
  pointer-events: none;
  opacity: 0;
}

.main-wrapper {
  max-width: 1280px;
  display: block;
  margin: auto;
  background-color: #fafafa;
}

.header {
  position: sticky;
  top: 0;
  padding: 30px 40px;
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s;

  @include media-tablet {
    padding: 30px;
  }

  @include media-mobile {
    padding: 30px 53px 30px 10px;
  }

  .logo {
    text-decoration: none;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    z-index: 4;


    &__title {
      @include font(32px, 35px, 0.06em, Georgia, $color-dark-header);
    }

    &__subtitle {
      @include font(13px, 15px, 0.1em, Arial, $color-dark-3xl);
    }
  }

  .navigation {
    background-color: whitesmoke;
    z-index: 2;
  }

  .navigation__link {
    color: $color-dark-header;

    &:hover {
      color: $color-dark-3xl;
    }

    &.active {
      text-decoration-color: $color-primary !important;
    }
  }
}

.header.open {
  padding-left: calc(100% - 310px);
  transition: 0.5s;
}


.pets {
  padding-top: 80px;
  padding-right: 40px;
  padding-left: 40px;
  padding-bottom: 100px;
  background: #f6f6f6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 60px;

  @include media-tablet {
    gap: 30px;
    padding-bottom: 75px;
  }

  @include media-mobile {
    padding-top: 42px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 42px;
    gap: 42px;
  }

  .pets-title {
    @include font(35px, 130%, 0.06em, Georgia, $color-dark-header);
    text-align: center;

    @include media-mobile {
      @include font(25px, 130%, 0.06em, Georgia, $color-dark-header);
      text-align: center;
    }
  }

  .cards-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px 40px;

    @include media-tablet {
      margin-bottom: 10px;
    }

    @include media-mobile {
      margin-bottom: 0;
    }
  }
}

.pets_card {
  height: 435px;
  background-color: $color-light-s;
  padding: 0 0 30px;
  border-radius: 9px;
  overflow: hidden;

  & .button {
    margin: 0 auto;
  }

  & .pet-name {
    margin: 31px auto 29px;
    text-align: center;
  }

  @include media-laptop {
    &:nth-child(7) {
      display: none;
    }

    &:nth-child(8) {
      display: none;
    }
  }

  @include media-mobile {
    &:nth-child(4) {
      display: none;
    }

    &:nth-child(5) {
      display: none;
    }

    &:nth-child(6) {
      display: none;
    }
  }
}

.pets_card:hover {
  box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
  cursor: pointer;

  .button {
    background-color: $color-primary;
  }
}

.pets__navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  height: 52px;

  @include media-mobile {
    gap: 10px;
  }
}

.footer {
  background: url('../../assets/images/noise_transparent@2x.png'), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
  padding: 40px 40px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;

  @include media-tablet {
    padding: 30px 30px 0;
    justify-content: space-around;
  }

  @include media-mobile {
    padding: 30px 10px 0;
    align-items: center;
  }

  .contacts,
  .address {
    height: 234px;
    @include font(20px, 130%, 0.06em, Georgia, $color-primary);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 60px;

    @include media-mobile {
      margin-bottom: 40px;
    }

    .section-title {
      color: #ffffff;
      width: 279px;

      @include media-laptop {
        width: 279px;
      }

      @include media-mobile {
        padding: 0 15px;
        @include font(25px, 130%, 0.06em, Georgia, #ffffff);
        text-align: center;
      }
    }

    .link-ico {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      gap: 20px;
    }

    .link-ico h4 {
      color: $color-primary;
    }
  }

  .contacts {
    @include media-mobile {
      height: 208px;
      align-items: center;
    }
  }

  .address {
    @include media-mobile {
      height: 222px;
      align-items: flex-start;
    }
  }

  .footer-puppy-img {
    @include media-mobile {
      width: calc(260 / 300 * 100%)
    }
  }
}