@import 'sass/reset';
@import '../main/sass/abstract/constants';
@import '../main/sass/abstract/mixins';
@import '../main/sass/base/base';
@import 'sass/base/buttons';

a {
    color: inherit;
    text-decoration: none;
  }
  
html {font-size: 10px;
    scroll-behavior: smooth;
}

body {
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 1280px;
    margin: 0 auto;
}

.header {
  position: fixed;
  top: 0;
  width: 1280px;
  background-color: #FFFFFF;
}

.header__wrapper {
    height: auto;
    padding: 30px 40px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .logo {
    text-decoration: none;
    &__title {
      display: inline-block;
      margin: 1px 0 8px;
      color: $color-dark-header;
      font-family: Georgia;
      font-size: 32px;
      font-weight: 400;
      line-height: 35px;
      letter-spacing: 0.06em;
      text-align: left;
    }
  
    &__subtitle {
      color: $color-dark-3xl;
      font-size: 13px;
      font-weight: 400;
      line-height: 15px;
      letter-spacing: 0.1em;
      display: inline-block;
      padding-left: 5px;
    }
}

.navigation {
        display: flex;
        margin: 0 -17.5px;
    .navigation__link {
        font-size: 15px;
        line-height: 24px;
        list-style: none;
        margin: 0 1.19em;
        color: $color-dark-header;
        a {
            color: inherit;
        }
        &:hover {
            color: $color-dark-3xl;
            cursor: pointer;
        }
        &.active{
            border-bottom: 3px solid $color-primary;
        }
      }
    }

.pets {
  padding-top: 120px;
}
.pets__content {
    background-color: $color-light-1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 40px 100px;

    .pets-title {
        @include font(35px, 130%, 0.06em, Georgia, $color-dark-header);
        text-align: center;
    }

    .cards-container {
        display: flex;
        flex-wrap: wrap;
        flex: 1 1 auto;
        justify-content: space-between;
        margin: 3.9em 0 2em;
    }
}

.pets_card {
    height: 435px;
    background-color: $color-light-s;
    padding: 0 0 30px;
    margin-bottom: 30px;
    & .button {
      margin: 0 auto;
    }
    & .pet-name {
      margin: 31px auto 29px;
      text-align: center;
    }     
}
.pets_card:hover {
    box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
    cursor: pointer;
    .button {
      background-color: $color-primary;
    }
  }

.pets__navigation {
    width: 340px;
    display: flex;
    justify-content: space-between;
}

.footer {
    background: url('../../assets/images/noise_transparent@2x.png'), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
    width:auto;
    padding: 40px 40px 0;
    .footer-wrapper {
      padding: 40px auto 0;
      display: flex;
      justify-content: space-between;
      gap: 159px;
      .section-title {
        color: #FFFFFF;
        margin-top: 0.5em;
      }

      .contacts {
        height: 29.4rem;
        width: 30rem;
        @include font(20px, 23px, 0.06em, Georgia, $color-primary);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 40px;
        padding-bottom: 43px;
        .contacts-ico {
            vertical-align: middle;
            margin-right: 15px;
        }
      }

      .address {
        width: 32rem;
        height: 29.4rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 35px;
        padding-bottom: 43px;
        @include font(20px, 23px, 0.06em, Georgia, $color-primary);
        .map-address {
            display: flex;
            flex-direction: row;
        }
        .address-ico{
            margin-right: 15px;
          }
        .address-ico, .address-link {
            display: inline-block;
            vertical-align: middle;
        }
    }
    }
  }