.search_box {
    position: relative;

    width: 360px;
    height: 30px;
    border-radius: 5px;
    margin-right: 20px;

    background: #fff;
    box-shadow: 0 0 0 2px #3c7ea3;
    
    overflow: hidden;
  }

  .search_box .input {
    position: relative;
    left:60px;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 300px;
    height: 30px;

    overflow-x: hidden;
  }
  
  .search_box .input input {
    width: 98%;
    height: 100%;
    padding-left: 2px;

    border:none;
    border-radius: 25px;

    font-size: 1.1rem;
    
    outline: none;
    overflow-x: hidden;
  }
  
.search_box:focus {
    box-shadow: 0 0 5px #3c7ea3;
    border: 1px solid #3c7ea3;
}
  
.search_box .searchIcon {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;

    border-radius: 50px;
    background: #fff;
    color: black;
    
    cursor: pointer;
    transition: 1s;
}
.search_box .fas {
    position: absolute;
    font-size: 15px;
    color: #3c7ea3;
}
  
  .searchIcon i:hover {
    color: #25526b;
  }
  
  .clear{
      position: absolute;
      right: 15px;
      top: 15px;
      
      display: flex;
      justify-content: center;
      align-items: center;
      width: 30px;
      height: 30px;
      
      background: #fff;
      
      cursor: pointer;
      transform: translateY(-50%);
  }
  
  .clear::before{
      position: relative;
      content: '';

      width: 1.5px;
      height: 25px;

      background: #999;

      transform: rotate(45deg);
  }
  
  .clear::after{
      position: relative;
      content: '';

      width: 1.5px;
      height: 25px;

      background: #999;
      
      transform: rotate(-45deg);
  }