*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
    --select-border: #3c7ea3;
    --select-focus: rgb(0, 159, 201);
    --select-arrow: var(--select-border);
}

.sorting_wrapper {
display: flex;
flex-direction: column;
gap: 5px;

font: small-caps bold 15px sans-serif;
}

select {
  appearance: none;
  position: relative;

  width: 100%;
  padding: 0 1em 0 0;
  margin: 0;
  background-color: transparent;
  border: none;

  font-family: inherit;
  font-size: inherit;
  line-height: inherit;

  cursor: inherit;
  outline: none;
}

.select {
  display: grid;
  grid-template-areas: "select";
  align-items: center;

  min-width: 15ch;
  max-width: 30ch;
  width: 100%;
  padding: 0.25em 0.5em;

    border: 1px solid var(--select-border);
    border-radius: 0.25em;

    font: small-caps bold 0.9rem sans-serif;
    line-height: 1.1;

    background-color: #fff;
    background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
    cursor: pointer;
  }

select:focus + .focus {
position: absolute;
top: -1px;
left: -1px;
right: -1px;
bottom: -1px;
border: 2px solid var(--select-focus);
border-radius: inherit;
}

.select::after {
content: "";
width: 0.8em;
height: 0.5em;
background-color: var(--select-arrow);
clip-path: polygon(100% 0%, 0 0%, 50% 100%);
justify-self: end;
}

select, .select:after {
  grid-area: select;
}