.page{
    display: flex;
    flex-direction: row;
}

.sidebar{
    flex-direction: column;
    display: flex;
    gap: 10px;

    width: 20%;
    padding: 10px;
}

.books {
    display: flex;

    width: 80%;
}

.books__container {
    display: flex;
    flex-wrap: wrap;
    gap: 3px;
    justify-content: space-around;
}

.goods_in_chart {
    position: absolute;
    display: block;
    right: -25%;
    top: -25%;
    
    width: 15px;
    height: 15px;
    border: 1px solid rgb(255, 89, 89);
    border-radius: 50px;

    background-color: rgb(255, 89, 89);
    
    font-size: 11px;
    text-align: center;
    line-height: 15px;
}
.goods_in_chart.empty {
    display: none;
}