.header__navigation {
    padding-bottom: 3px;
    align-self: inherit;
    @include font(15px, 160%, 0, Arial);
    text-decoration: none;
}

.navigation {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    gap: 36px;
  }
  @media (max-width: 767px) {
    .navigation {
      display: none;
    }
  }
  
  .navigation__link {
    font-size: 15px;
    line-height: 24px;
    list-style: none;
    color: $color-light;
    &:hover {
        color: $color-light-s;
        cursor: pointer;
    }
    &.active{
      border-bottom: 3px solid $color-primary;
    }
  }