.pets__slider__wrapper {
    height: 435px;
    width: 990px;
    overflow: hidden;

    @include media-laptop {
        width: 580px;
    }

    @include media-tablet {
        width: 270px;
    }
}

.pets__slider {
    display: flex;
    flex-direction: row;
    height: 435px;
    width: 990px;
    flex-wrap: nowrap;
    position: relative;
    left: -990px;

    .slide {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 90px;

        @include media-laptop {
            gap: 40px;
        }

        @include media-tablet {
            gap: 40px;
        }
    }
}

.pets__slider {
    @include media-laptop {
        //cardDisplaying = 2;
        width: 580px;
        left: -580px;
    }

    @include media-mobile {
        //cardDisplaying = 1;
        width: 270px;
        left: -270px;
    }

    @include media-mobile {
        padding-bottom: 21px;
    }

    .pets_card {
        height: 435px;
        width: 270px;
        border-radius: 9px;
        overflow: hidden;
        background-color: #fafafa;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 30px;

        & .pet-name {
            text-align: center;
        }

        &:nth-child(3) {
            @include media-laptop {
                display: none;
            }
        }

        &:nth-child(2) {
            @media (max-width: 767px) {
                display: none;
            }
        }
    }
}

.pets_card:hover {
    transition: 0.3s;
    box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
    cursor: pointer;

    .button {
        background-color: $color-primary;
    }
}

@keyframes move-right {
    from {
        transform: translateX(0)
    }

    to {
        transform: translateX(-100%)
    }
}

.transition-right {
    animation-name: move-right;
    animation-duration: 1s;
}

@keyframes move-left {
    from {
        transform: translateX(0)
    }

    to {
        transform: translateX(100%)
    }
}

.transition-left {
    animation-name: move-left;
    animation-duration: 1s;
}