$color-primary: #F1CDB3;
$color-primary-light: #FDDCC4;
$color-dark-grey: #4C4C4C;
$color-dark-3xl: #292929;
$color-dark-header: #545454;
$color-light: #CDCDCD;
$color-light-s: #FAFAFA;
$color-light-1: #F6F6F6;
$color-dark-m: #B2B2B2;



$content-width: calc(1200 / 1280 * 100%);
$tablet-width:768px;
$mobile-width: 320px;