/*! normalize-scss | MIT/GPLv2 License | bit.ly/normalize-scss */
/* Document
       ========================================================================== */
/**
     * 1. Correct the line height in all browsers.
     * 2. Prevent adjustments of font size after orientation changes in
     *    IE on Windows Phone and in iOS.
     */
html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
       ========================================================================== */
/**
     * Remove the margin in all browsers (opinionated).
     */
body {
  margin: 0;
}

/**
     * Add the correct display in IE 9-.
     */
article,
aside,
footer,
header,
nav,
section {
  display: block;
}

/**
     * Correct the font size and margin on `h1` elements within `section` and
     * `article` contexts in Chrome, Firefox, and Safari.
     */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
       ========================================================================== */
/**
     * Add the correct display in IE 9-.
     */
figcaption,
figure {
  display: block;
}

/**
     * Add the correct margin in IE 8.
     */
figure {
  margin: 1em 40px;
}

/**
     * 1. Add the correct box sizing in Firefox.
     * 2. Show the overflow in Edge and IE.
     */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
     * Add the correct display in IE.
     */
main {
  display: block;
}

/**
     * 1. Correct the inheritance and scaling of font size in all browsers.
     * 2. Correct the odd `em` font sizing in all browsers.
     */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Links
       ========================================================================== */
/**
     * 1. Remove the gray background on active links in IE 10.
     * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
     */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
}

/* Text-level semantics
       ========================================================================== */
/**
     * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
     * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
     */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
     * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
     */
b,
strong {
  font-weight: inherit;
}

/**
     * Add the correct font weight in Chrome, Edge, and Safari.
     */
b,
strong {
  font-weight: bolder;
}

/**
     * 1. Correct the inheritance and scaling of font size in all browsers.
     * 2. Correct the odd `em` font sizing in all browsers.
     */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
     * Add the correct font style in Android 4.3-.
     */
dfn {
  font-style: italic;
}

/**
     * Add the correct background and color in IE 9-.
     */
mark {
  background-color: #ff0;
  color: #000;
}

/**
     * Add the correct font size in all browsers.
     */
small {
  font-size: 80%;
}

/**
     * Prevent `sub` and `sup` elements from affecting the line height in
     * all browsers.
     */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
       ========================================================================== */
/**
     * Add the correct display in IE 9-.
     */
audio,
video {
  display: inline-block;
}

/**
     * Add the correct display in iOS 4-7.
     */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
     * Remove the border on images inside links in IE 10-.
     */
img {
  border-style: none;
}

/**
     * Hide the overflow in IE.
     */
svg:not(:root) {
  overflow: hidden;
}

/* Forms
       ========================================================================== */
/**
     * 1. Change the font styles in all browsers (opinionated).
     * 2. Remove the margin in Firefox and Safari.
     */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
     * Show the overflow in IE.
     */
button {
  overflow: visible;
}

/**
     * Remove the inheritance of text transform in Edge, Firefox, and IE.
     * 1. Remove the inheritance of text transform in Firefox.
     */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
     * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
     *    controls in Android 4.
     * 2. Correct the inability to style clickable types in iOS and Safari.
     */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  /**
       * Remove the inner border and padding in Firefox.
       */
  /**
       * Restore the focus styles unset by the previous rule.
       */
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
     * Show the overflow in Edge.
     */
input {
  overflow: visible;
}

/**
     * 1. Add the correct box sizing in IE 10-.
     * 2. Remove the padding in IE 10-.
     */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
     * Correct the cursor style of increment and decrement buttons in Chrome.
     */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
     * 1. Correct the odd appearance in Chrome and Safari.
     * 2. Correct the outline style in Safari.
     */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
  /**
       * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
       */
}

[type="search"]::-webkit-search-cancel-button, [type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
     * 1. Correct the inability to style clickable types in iOS and Safari.
     * 2. Change font properties to `inherit` in Safari.
     */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/**
     * Correct the padding in Firefox.
     */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
     * 1. Correct the text wrapping in Edge and IE.
     * 2. Correct the color inheritance from `fieldset` elements in IE.
     * 3. Remove the padding so developers are not caught out when they zero out
     *    `fieldset` elements in all browsers.
     */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  color: inherit;
  /* 2 */
  white-space: normal;
  /* 1 */
}

/**
     * 1. Add the correct display in IE 9-.
     * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
     */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
     * Remove the default vertical scrollbar in IE.
     */
textarea {
  overflow: auto;
}

/* Interactive
       ========================================================================== */
/*
     * Add the correct display in Edge, IE, and Firefox.
     */
details {
  display: block;
}

/*
     * Add the correct display in all browsers.
     */
summary {
  display: list-item;
}

/*
     * Add the correct display in IE 9-.
     */
menu {
  display: block;
}

/* Scripting
       ========================================================================== */
/**
     * Add the correct display in IE 9-.
     */
canvas {
  display: inline-block;
}

/**
     * Add the correct display in IE.
     */
template {
  display: none;
}

/* Hidden
       ========================================================================== */
/**
     * Add the correct display in IE 10-.
     */
[hidden] {
  display: none;
}

h1 {
  font-size: 32px;
  font-weight: 400;
  color: #F1CDB3;
  line-height: 35.2px;
  letter-spacing: 0.06em;
  font-family: Georgia;
  text-align: left;
}

h2 {
  font-size: 35px;
  font-weight: 400;
  color: #545454;
  line-height: 45px;
  letter-spacing: 0.06em;
  font-family: Georgia;
  text-align: left;
}

h3 {
  font-size: 35px;
  font-weight: 400;
  color: #545454;
  line-height: 130%;
  letter-spacing: 0.06em;
  font-family: Georgia;
  text-align: left;
}

h4 {
  font-size: 20px;
  font-weight: 400;
  color: #545454;
  line-height: 115%;
  letter-spacing: 0.06em;
  font-family: Georgia;
  text-align: left;
}

h5 {
  font-size: 15px;
  font-weight: 400;
  color: #545454;
  line-height: 17px;
  letter-spacing: 0.06em;
  font-family: Georgia;
  text-align: left;
}

section {
  display: block;
  padding-top: 80px;
  padding-right: 40px;
  padding-left: 40px;
  padding-bottom: 100px;
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 52px;
  width: 187px;
  border-radius: 100px;
  padding: 13px 40px;
  font-size: 17px;
  font-weight: 400;
  color: #292929;
  line-height: 22px;
  letter-spacing: 0.06em;
  font-family: Georgia;
  text-align: left;
  text-align: left;
}

.button-bordered {
  border: 2px solid #F1CDB3;
  background-color: white;
}

.button-bordered:hover {
  background-color: #F1CDB3;
  cursor: pointer;
}

.button-colored {
  background-color: #F1CDB3;
  border: none;
}

.button-colored:hover {
  background-color: #FDDCC4;
  cursor: pointer;
}

.button-arrow {
  width: 52px;
  height: 52px;
  border-radius: 100px;
  margin: auto 0;
  border: 2px solid #F1CDB3;
  background-color: white;
}

.button-arrow:hover {
  background-color: #F1CDB3;
  cursor: pointer;
}

#button__link__colored {
  display: inline-block;
  border-radius: 100px;
  background-color: #F1CDB3;
  font-size: 17px;
  font-weight: 400;
  color: #4C4C4C;
  line-height: 130%;
  letter-spacing: 0.06em;
  font-family: Georgia;
  text-align: left;
  text-align: center;
  padding: 14px 45px;
}

#button__link__colored:hover {
  background-color: #FDDCC4;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header__navigation {
  padding-bottom: 3px;
  -ms-flex-item-align: inherit;
      -ms-grid-row-align: inherit;
      align-self: inherit;
  font-size: 15px;
  font-weight: 400;
  color: #545454;
  line-height: 160%;
  letter-spacing: 0;
  font-family: Arial;
  text-align: left;
  text-decoration: none;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 36px;
}

@media (max-width: 767px) {
  .navigation {
    display: none;
  }
}

.navigation__link {
  font-size: 15px;
  line-height: 24px;
  list-style: none;
  color: #CDCDCD;
}

.navigation__link:hover {
  color: #FAFAFA;
  cursor: pointer;
}

.navigation__link.active {
  border-bottom: 3px solid #F1CDB3;
}

.hamburger::before, .hamburger::after, .hamburger__line {
  content: "";
  position: absolute;
  display: inline-block;
  background-color: #000000;
  width: 100%;
  height: 2px;
}

.hamburger {
  position: relative;
  display: none;
  width: 30px;
  height: 22px;
}

.hamburger::before {
  top: 0;
  left: 0;
}

.hamburger::after {
  left: 0;
  bottom: 0;
}

@media (max-width: 767px) {
  .hamburger {
    display: inline-block;
  }
}

.hamburger__line {
  top: calc(50% - 1px);
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1.15;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  margin: 0;
}

a {
  color: inherit;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.main-wrapper {
  max-width: 1280px;
  padding-top: 60px;
  display: block;
  margin: auto;
  background: url("../../assets/images/noise_transparent@2x.png"), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
}

@media (max-width: 768px) {
  .main-wrapper {
    padding-top: 30px;
  }
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 0 40px;
}

@media (max-width: 768px) {
  .header {
    padding: 0 30px;
  }
}

@media (max-width: 767px) {
  .header {
    padding: 0px 53px 30px 10px;
  }
}

.header .hamburger__line, .header .hamburger::before, .header .hamburger::after {
  background-color: #F1CDB3;
}

.logo {
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo .logo__title {
  font-size: 32px;
  font-weight: 400;
  color: #F1CDB3;
  line-height: 35.2px;
  letter-spacing: 0.06em;
  font-family: Georgia;
  text-align: left;
}

.logo .logo__subtitle {
  font-size: 13px;
  font-weight: 400;
  color: #CDCDCD;
  line-height: 14.95px;
  letter-spacing: 0.1em;
  font-family: Arial;
  text-align: left;
}

.not-only {
  padding-top: 60px;
  padding-bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 1237px) {
  .not-only {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 768px) {
  .not-only {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 767px) {
  .not-only {
    padding: 30px 10px 0 10px;
  }
}

.not-only .not-only__content {
  -ms-flex-item-align: center;
      align-self: center;
  margin-bottom: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 322px;
  color: #ffffff;
  -ms-flex-preferred-size: 460px;
      flex-basis: 460px;
}

@media (max-width: 768px) {
  .not-only .not-only__content {
    margin-bottom: 100px;
  }
  .not-only .not-only__content #button__link__colored {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

@media (max-width: 768px) and (max-width: 767px) {
  .not-only .not-only__content {
    height: 295px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 108px;
  }
}

.not-only .not-only__title {
  font-size: 44px;
  font-weight: 400;
  color: #ffffff;
  line-height: 130%;
  letter-spacing: 0;
  font-family: Georgia;
  text-align: left;
}

@media (max-width: 767px) {
  .not-only .not-only__title {
    font-size: 25px;
    letter-spacing: 0.06em;
    text-align: center;
  }
}

.not-only .not-only-text {
  font-size: 15px;
  font-weight: 400;
  color: #CDCDCD;
  line-height: 24px;
  letter-spacing: 0em;
  font-family: Arial;
  text-align: left;
}

@media (max-width: 767px) {
  .not-only .not-only-text {
    text-align: center;
  }
}

@media (max-width: 768px) {
  .not-only .not-only__puppy {
    width: 569px;
    margin-left: 130px;
  }
}

@media (max-width: 767px) {
  .not-only .not-only__puppy {
    width: 260px;
    margin-left: 40px;
  }
}

.section-title {
  font-size: 35px;
  font-weight: 400;
  color: #545454;
  line-height: 130%;
  letter-spacing: 0.06em;
  font-family: Georgia;
  text-align: left;
}

@media (max-width: 767px) {
  .section-title {
    font-size: 25px;
    text-align: center;
  }
}

.about {
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 120px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 768px) {
  .about {
    gap: 80px;
  }
}

@media (max-width: 767px) {
  .about {
    padding: 43px 25px 43px 25px;
    gap: 40px;
  }
}

@media (max-width: 768px) {
  .about .about-pic {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

@media (max-width: 767px) {
  .about .about-pic .about-pets {
    width: 260px;
  }
}

.about .about-content {
  color: #545454;
  -ms-flex-preferred-size: 430px;
      flex-basis: 430px;
}

@media (max-width: 768px) {
  .about .about-content {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

.about .about-content p {
  font-size: 15px;
  font-weight: 400;
  color: #4C4C4C;
  line-height: 24px;
  letter-spacing: 0em;
  font-family: Arial;
  text-align: left;
  padding-top: 24px;
}

@media (max-width: 767px) {
  .about .about-content p {
    text-align: justify;
  }
}

.pets {
  background: #F6F6F6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 60px;
}

@media (max-width: 768px) {
  .pets {
    padding-right: 30px;
    padding-left: 30px;
  }
}

@media (max-width: 767px) {
  .pets {
    padding: 42px 10px 42px 10px;
    gap: 41px;
  }
}

.pets .section-title {
  text-align: center;
}

.pets .slider__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

@media (max-width: 767px) {
  .pets .slider__wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

.pets .button-arrow {
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

@media (max-width: 767px) {
  .pets .button-arrow {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

.pets .pets__slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 90px;
}

@media (max-width: 1237px) {
  .pets .pets__slider {
    gap: 30px;
  }
}

@media (max-width: 768px) {
  .pets .pets__slider {
    gap: 40px;
  }
}

@media (max-width: 767px) {
  .pets .pets__slider {
    padding-bottom: 21px;
  }
}

.pets .pets__slider .pets_card {
  height: 435px;
  width: 270px;
  border-radius: 9px;
  overflow: hidden;
  background-color: #fafafa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}

.pets .pets__slider .pets_card .pet-name {
  text-align: center;
}

@media (max-width: 1237px) {
  .pets .pets__slider .pets_card:nth-child(3) {
    display: none;
  }
}

@media (max-width: 767px) {
  .pets .pets__slider .pets_card:nth-child(2) {
    display: none;
  }
}

.pets_card:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
          box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
  cursor: pointer;
}

.pets_card:hover .button {
  background-color: #F1CDB3;
}

.help {
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 60px;
  text-align: center;
}

@media (max-width: 767px) {
  .help {
    padding: 44px 10px;
    gap: 40px;
  }
}

.help .section-title {
  text-align: center;
}

.help .help__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: center;
      align-content: center;
  row-gap: 55px;
  -webkit-column-gap: 120px;
          column-gap: 120px;
}

@media (max-width: 1237px) {
  .help .help__list {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 170px 170px 170px;
        grid-template-columns: 170px 170px 170px;
    -webkit-column-gap: 60px;
            column-gap: 60px;
    justify-items: center;
  }
}

@media (max-width: 767px) {
  .help .help__list {
    -ms-grid-columns: 130px 130px;
        grid-template-columns: 130px 130px;
    -webkit-column-gap: 30px;
            column-gap: 30px;
    row-gap: 30px;
  }
}

.help .help__list .help__item {
  height: 113px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-position: center top;
}

@media (max-width: 767px) {
  .help .help__list .help__item {
    height: 87px;
    background-size: unset;
  }
}

.help .help__list .help__item:nth-child(1) {
  background-image: url(../../assets/icons/food.svg);
  background-repeat: no-repeat;
}

.help .help__list .help__item:nth-child(2) {
  background-image: url(../../assets/icons/transportation.svg);
  background-repeat: no-repeat;
}

.help .help__list .help__item:nth-child(3) {
  background-image: url(../../assets/icons/toys.svg);
  background-repeat: no-repeat;
  width: 60px;
}

.help .help__list .help__item:nth-child(4) {
  background-image: url(../../assets/icons/bowls-and-cups.svg);
  background-repeat: no-repeat;
}

.help .help__list .help__item:nth-child(5) {
  background-image: url(../../assets/icons/shampoos.svg);
  background-repeat: no-repeat;
}

.help .help__list .help__item:nth-child(6) {
  background-image: url(../../assets/icons/vitamins.svg);
  background-repeat: no-repeat;
}

.help .help__list .help__item:nth-child(7) {
  background-image: url(../../assets/icons/medicines.svg);
  background-repeat: no-repeat;
}

.help .help__list .help__item:nth-child(8) {
  background-image: url(../../assets/icons/collars-or-leashes.svg);
  background-repeat: no-repeat;
}

.help .help__list .help__item:nth-child(9) {
  background-image: url(../../assets/icons/sleeping-area.svg);
  background-repeat: no-repeat;
}

.help .help__list .help_text {
  margin: 90px auto 0;
  text-align: center;
}

@media (max-width: 767px) {
  .help .help__list .help_text {
    font-size: 15px;
    margin-top: 71px;
  }
}

.donation {
  background-color: #F6F6F6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

@media (max-width: 768px) {
  .donation {
    gap: 60px;
  }
  .donation .donation-img {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

@media (max-width: 767px) {
  .donation {
    padding: 41px 10px;
    gap: 43px;
  }
}

@media (max-width: 768px) {
  .donation .donation-img {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

@media (max-width: 767px) {
  .donation .donation-img {
    width: 260px;
  }
}

.donation .donation-content {
  height: 282px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-preferred-size: 380px;
      flex-basis: 380px;
}

@media (max-width: 767px) {
  .donation .donation-content {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 22px;
  }
}

.donation .donation-content .legal-info {
  font-size: 12px;
  font-weight: 400;
  color: #B2B2B2;
  line-height: 18px;
  letter-spacing: 0px;
  font-family: Arial;
  text-align: left;
  font-style: italic;
  margin-top: 20px;
}

@media (max-width: 767px) {
  .donation .donation-content .legal-info {
    margin: 0px 10px;
    text-align: justify;
  }
}

.donation .donation-content .bank-name {
  margin: 20px 0;
}

@media (max-width: 767px) {
  .donation .donation-content .bank-name {
    letter-spacing: 0;
    margin: 0;
  }
}

.donation .donation-content #button__link__colored {
  width: auto;
  background-image: url(../../assets/icons/credit-card.svg);
  background-repeat: no-repeat;
  padding: 10px 15px 10px 60px;
  background-position: 15px center;
  border-radius: 9px;
}

.donation .donation-content #button__link__colored .card-number {
  display: inline-block;
  font-size: 20px;
  letter-spacing: 0.06em;
}

@media (max-width: 767px) {
  .donation .donation-content #button__link__colored .card-number {
    font-size: 15px;
  }
}

.footer {
  padding: 40px 40px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 1000px) {
  .footer {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media (max-width: 768px) {
  .footer {
    padding: 30px 30px 0;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media (max-width: 767px) {
  .footer {
    padding: 30px 10px 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.footer .contacts, .footer .address {
  height: 234px;
  font-size: 20px;
  font-weight: 400;
  color: #F1CDB3;
  line-height: 130%;
  letter-spacing: 0.06em;
  font-family: Georgia;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 60px;
}

@media (max-width: 767px) {
  .footer .contacts, .footer .address {
    margin-bottom: 40px;
  }
}

.footer .contacts .section-title, .footer .address .section-title {
  width: 279px;
  color: #ffffff;
}

@media (max-width: 1237px) {
  .footer .contacts .section-title, .footer .address .section-title {
    width: 297px;
  }
}

@media (max-width: 767px) {
  .footer .contacts .section-title, .footer .address .section-title {
    padding: 0 15px;
    font-size: 25px;
    font-weight: 400;
    color: #ffffff;
    line-height: 130%;
    letter-spacing: 0.06em;
    font-family: Georgia;
    text-align: left;
    text-align: center;
  }
}

.footer .contacts .link-ico, .footer .address .link-ico {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.footer .contacts .link-ico h4, .footer .address .link-ico h4 {
  color: #F1CDB3;
}

@media (max-width: 767px) {
  .footer .contacts {
    height: 208px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 767px) {
  .footer .address {
    height: 222px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

@media (max-width: 767px) {
  .footer .footer-puppy-img {
    width: calc(260 / 300 * 100%);
    margin-left: 20px;
  }
}
/*# sourceMappingURL=style.css.map */