.chart {
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    
    width: 30px;
    height: 30px;
    border: 1px solid #3c7ea3;
    border-radius: 3px;

    background: #fff;
    box-shadow: 0 0 5px #3c7ea3;

    cursor: pointer;
    transition: 1s;
}

.chart .fa-shopping-basket {
    position: relative;

    color: #3c7ea3;
    font-size: 15px;
}

.chart__wrapper.open {
    right: 0;
    transition: 0.8s;
  }

.chart__wrapper {
    position: fixed;
    z-index: 2;

    max-width: 400px;
    width: 100%;
    right: -400px;
    top: 100px;
    height: 100%;

    background-color: #fff;

    transition: 0.8s;
    overflow: scroll;
}

.close{
    position: absolute;
    top: 15px;
    right: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;

    width: 30px;
    height: 30px;
    
    background: #fff;
    cursor: pointer;
    transform: translateY(-50%);
}

.close::before{
    position: absolute;
    content: '';

    width: 1.5px;
    height: 27px;

    background: #999;

    transform: rotate(45deg);
}

.close::after{
    position: absolute;
    content: '';

    width: 1.5px;
    height: 27px;

    background: #999;

    transform: rotate(-45deg);
}

.chart__container {
    position: relative;
}
.product_in_chart {
    display: flex;
}
.remove_from_chart {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 30px;
    height: 30px;

    cursor: pointer;
}

.remove_from_chart .fa-trash {
    position: relative;

    color: #3c7ea3;
    font-size: 15px;
}

.chart__summary {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    bottom: 0;

    width: 30%;
    height: 50px;
    padding: 0 15px 0 15px;

    background-color:rgb(0, 159, 201);
}

.sum__total {
    display: inline-block;

    font: small-caps bold 20px/1 sans-serif;
}

.btn.btn-mk-order {
    width: 70px;
    
    background-color: #fff;

    color: rgb(0, 159, 201);
}

.btn.btn-mk-order:hover {
    transform: scale(1.1,1.1);
    transition: 0.3s;
}