.main_buttons_container {
  display: flex;
}

.main_btn {
    position: relative;
  display: inline-block;
  font-size: 90%;
  font-weight: 700;
  color: rgb(209,209,217);
  text-decoration: none;
  text-shadow: 0 -1px 2px rgba(0,0,0,.2);
  padding: .5em 1em;
  outline: none;
  border-radius: 3px;
  background: linear-gradient(rgb(110,112,120), rgb(81,81,86)) rgb(110,112,120);
  box-shadow:
   0 1px rgba(255,255,255,.2) inset,
   0 3px 5px rgba(0,1,6,.5),
   0 0 1px 1px rgba(0,1,6,.2);
  transition: .2s ease-in-out;
  cursor: pointer;
}
.main_btn:hover:not(:active) {
  background: linear-gradient(rgb(126,126,134), rgb(65, 72, 105)) rgb(153, 153, 203);
}
.main_btn:active {
  top: 1px;
  background: linear-gradient(rgb(76,77,82), rgb(56,57,62)) rgb(76,77,82);
  box-shadow:
   0 0 1px rgba(0,0,0,.5) inset,
   0 2px 3px rgba(0,0,0,.5) inset,
   0 1px 1px rgba(255,255,255,.1);
}

.btn {
  height: 25px;
  width: 83px;
  margin: 3px;
  border: solid 1px transparent;
  border-radius: 4px;
  color: whitesmoke;
  background: linear-gradient(rgb(40, 40, 104), rgb(73, 93, 181)) rgb(56, 56, 127);
  cursor: pointer;
}

.btn:active {
  top: 1px;
  box-shadow:
   0 0 1px rgba(1, 32, 59, 0.5) inset,
   0 2px 3px rgba(1, 21, 43, 0.682) inset,
   0 1px 1px rgba(40, 111, 211, 0.1);
   transform: scale(0.95);
}

.btn_wide {
  width: 135px;
}

.btn.disabled {
  cursor: auto;
  background: linear-gradient(rgb(110,112,120), rgb(81,81,86)) rgb(110,112,120);
}

.btn.disabled:active {
  top: 0;
  box-shadow:none;
   transform: none;
}