.winners_section {
    display: none;
    position: absolute;
    z-index: 10;
    width: 99%;
    height: calc(112% - 90px);
    top: 82px;
    background-color: rgb(2, 39, 56);
}

.winners_section.active {
    display: block;
}

.winners_section .section_title {
    margin: 10px 0 10px;
}

table {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 14px;
    color: rgb(191, 215, 232);
    border-collapse: collapse;
    text-align: center;
    }
    th, td:first-child {
    background: #38658d;
    color: #ffffff;
    padding: 10px 20px;
    }
    th, td {
    border-style: solid;
    border-width: 0 1px 1px 0;
    border-color: white;
    }
    td {
    background: #053562;
    }
    th:first-child, td:first-child {
    text-align: left;
    }